body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #eaf4ff;
    scroll-behavior: smooth;
}

/* NAVBAR */
nav {
    background: linear-gradient(to right, #13191f, #2c3e50);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

/* NAV LINK JADI BUTTON */
nav a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

/* HOVER EFFECT */
nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.08);
}

/* KLIK EFFECT */
nav a:active {
    transform: scale(0.95);
}

/* HERO */
header {
    text-align: center;
    padding: 40px 20px;
}

header img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* CARD */
.card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    max-width: 800px;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card:hover {
    transform: scale(1.03);
}

/* BUTTON */
button {
    padding: 10px 20px;
    background: #212b36;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2c3e50;
    transform: scale(1.05);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #1a1e23;
    color: white;
    margin-top: 20px;
}
